In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("gurgaon_properties_cleaned_v1.csv")

In [3]:
df

,property_type,society,sector,price_cr,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,flat,experion the heartsong,sector 108,3.00,18392.0,1631.0,Super Built up area 2779(258.18 sq.m.)Built Up...,4,5,3+,servant room,2.0,South-West,1 to 5 Year Old,"['Galleria 108 Mall', 'Dwarka Expressway', 'Ce...","['1 Water Purifier', '8 Fan', '1 Fridge', '1 E...","['Water purifier', 'Security / Fire Alarm', 'F..."
1,flat,tulip violet,sector 69,1.37,8675.0,1579.0,Super Built up area 1578(146.6 sq.m.)Carpet ar...,3,3,1,pooja room,12.0,East,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...","['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Power Back-up', 'Feng Shui / Vaastu Complian..."
2,flat,shree vardhman victoria,sector 70,1.62,13953.0,1161.0,Super Built up area 1950(181.16 sq.m.)Carpet a...,3,3,3,servant room,9.0,North,1 to 5 Year Old,"['Airia Mall', 'Golf Course Extn Road', 'Sohna...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
3,flat,sare green parc phase 3,sector 92,0.95,4856.0,1956.0,Super Built up area 1956(181.72 sq.m.),4,3,3,not available,4.0,North,5 to 10 Year Old,"['Huda Metro Station', 'Sector Road', 'Delhi-J...",NaN,"['Security / Fire Alarm', 'Intercom Facility',..."
4,flat,mvn athens,sohna road,0.25,5198.0,481.0,Built Up area: 481 (44.69 sq.m.),2,2,0,not available,0.0,NaN,1 to 5 Year Old,"['SBI ATM', 'Axis bank ATM', 'UCO bank ATM', '...","['3 Fan', '5 Light', '1 Modular Kitchen', 'No ...","['Security / Fire Alarm', 'Lift(s)', 'Maintena..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3836,house,project mianwali colony,sector 12,1.70,9444.0,1800.0,Carpet area: 1800 (167.23 sq.m.),1,1,2,not available,1.0,NaN,undefined,"['Hanuman Mandir', 'Sheetla Mata Mandir', 'Lal...",NaN,NaN
3837,flat,ats kocoon,sector 109,1.60,9169.0,1745.0,Super Built up area 1745(162.12 sq.m.)Built Up...,3,3,3,not available,10.0,North,1 to 5 Year Old,"['Jagdish Super Market', 'Dwarka', 'Euro Inter...","['1 Fan', '1 Light', 'No AC', 'No Bed', 'No Ch...","['Intercom Facility', 'Lift(s)', 'Swimming Poo..."
3838,flat,orris aster court premier,sector 85,1.50,5859.0,2560.0,Super Built up area 2560(237.83 sq.m.)Built Up...,4,5,3+,servant room,6.0,West,0 to 1 Year Old,"['Propose Metro Station', 'SS Omnia Mall', 'Na...","['7 Fan', '1 Exhaust Fan', '2 Geyser', '14 Lig...","['Lift(s)', 'Maintenance Staff', 'Water Storag..."
3839,flat,ss the leaf,sector 85,1.09,6666.0,1635.0,Super Built up area 1640(152.36 sq.m.)Built Up...,2,2,3,store room,9.0,South-West,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...","['3 Fan', '10 Light', '2 AC', 'No Bed', 'No Ch...","['Centrally Air Conditioned', 'Water purifier'..."
3840,flat,signature the roselia,sector 95,0.41,6194.0,662.0,Built Up area: 670 (62.25 sq.m.)Carpet area: 5...,2,2,2,study room,12.0,North,0 to 1 Year Old,"['Newtown Square Mall', 'Pataudi Road', 'Dwark...","['2 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 St...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."

In [4]:
all_furnishings = []
for detail in df['furnishDetails'].dropna():
    furnishings = detail.replace('[', '').replace(']', '').replace("'", "").split(', ')
    all_furnishings.extend(furnishings)
unique_furnishings = list(set(all_furnishings))

In [8]:
unique_furnishings

['',
 '26 Fan',
 '22 Wardrobe',
 '40 Light',
 '7 Light',
 '53 Light',
 '13 Light',
 '14 AC',
 '18 TV',
 '1 Modular Kitchen',
 '9 TV',
 '9 Light',
 '3 Light',
 '21 Fan',
 '11 Fan',
 '15 Fan',
 '42 Light',
 'No Geyser',
 '2 TV',
 'No Wardrobe',
 '18 AC',
 '4 TV',
 '20 Geyser',
 '18 Light',
 '8 Curtains',
 '1 Exhaust Fan',
 'No Curtains',
 '10 Light',
 '70 Light',
 '12 Bed',
 '69 Light',
 '14 Geyser',
 '14 Fan',
 '9 Geyser',
 '1 Water Purifier',
 '20 Fan',
 '5 TV',
 '21 Wardrobe',
 '49 Light',
 '28 Wardrobe',
 '50 Light',
 '26 AC',
 '55 Light',
 'No Fridge',
 '17 Light',
 '22 Fan',
 '1 Chimney',
 '75 Light',
 '20 Wardrobe',
 '99 Light',
 '3 Microwave',
 '11 Light',
 'No Washing Machine',
 '36 Light',
 '12 Wardrobe',
 '6 Wardrobe',
 '6 Fan',
 '6 AC',
 '6 Curtains',
 '36 Fan',
 '12 AC',
 '1 Light',
 '2 Chimney',
 '36 Wardrobe',
 '3 Curtains',
 '10 Curtains',
 '1 Washing Machine',
 '56 Light',
 '12 Curtains',
 '6 Light',
 '21 Geyser',
 '20 Curtains',
 '272 Light',
 '1 Stove',
 '101 Light',
 '13 TV',
 '2 Light',
 '17 Fan',
 '18 Wardrobe',
 '9 Chimney',
 '13 Geyser',
 '10 Geyser',
 '7 Geyser',
 '8 Light',
 'No Water Purifier',
 '11 Wardrobe',
 'No Exhaust Fan',
 '48 Light',
 '60 Light',
 '12 TV',
 '24 Light',
 '14 Wardrobe',
 '25 Fan',
 '5 Wardrobe',
 '3 Fan',
 '5 Light',
 '44 Light',
 '80 Light',
 '78 Light',
 '3 Bed',
 '21 Bed',
 '15 Light',
 '31 Light',
 '16 Geyser',
 '11 Bed',
 '4 Light',
 '1 AC',
 '11 Geyser',
 '6 Geyser',
 'No TV',
 '8 Fan',
 '4 Wardrobe',
 '3 Geyser',
 '9 AC',
 '2 AC',
 '18 Geyser',
 '20 Bed',
 'No Fan',
 '1 TV',
 '33 Light',
 '14 TV',
 '28 Light',
 '29 Light',
 '7 AC',
 '62 Light',
 '14 Light',
 '13 Fan',
 '38 Fan',
 '1 Microwave',
 '2 Fan',
 '15 AC',
 '9 Fan',
 '1 Bed',
 '16 Curtains',
 '1 Fridge',
 '16 AC',
 '7 Curtains',
 '3 Wardrobe',
 '52 Light',
 '8 AC',
 '12 Light',
 '16 Wardrobe',
 '20 AC',
 '8 Wardrobe',
 '35 Light',
 '19 Light',
 '8 Geyser',
 '32 Light',
 '5 AC',
 '2 Wardrobe',
 '15 Wardrobe',
 '12 Geyser',
 'No AC',
 '1 Dining Table',
 'No Chimney',
 '4 Fan',
 '14 Bed',
 '2 Curtains',
 'No Stove',
 '51 Light',
 '13 AC',
 '10 Wardrobe',
 '10 Bed',
 '5 Bed',
 '10 Fan',
 '18 Chimney',
 '15 Curtains',
 '4 Curtains',
 '5 Geyser',
 '5 Curtains',
 '4 Microwave',
 '20 Light',
 '41 Light',
 '19 Wardrobe',
 'No Microwave',
 '1 Wardrobe',
 '1 Sofa',
 '100 Light',
 '15 Geyser',
 '2 Bed',
 '22 Light',
 'No Modular Kitchen',
 '21 Curtains',
 '45 Light',
 '1 Geyser',
 '11 AC',
 '9 Bed',
 '5 Fan',
 '21 Light',
 '30 Light',
 '12 Fan',
 '7 Wardrobe',
 '2 Geyser',
 '13 Wardrobe',
 '10 AC',
 '24 Fan',
 '25 Light',
 '23 Light',
 '4 Geyser',
 '11 Curtains',
 '7 Fan',
 '4 Bed',
 '18 Fan',
 '7 TV',
 '16 Fan',
 '16 Light',
 '2 Microwave',
 '3 AC',
 '24 AC',
 'No Dining Table',
 '27 Light',
 '9 Curtains',
 '26 Wardrobe',
 'No Light',
 'No Bed',
 '26 Light',
 '8 Bed',
 '24 Wardrobe',
 '9 Wardrobe',
 '94 Light',
 '1 Curtains',
 'No Sofa',
 '7 Bed',
 '1 Fan',
 '4 Chimney',
 '10 TV',
 '4 AC',
 '43 Light',
 '3 Chimney',
 '38 Light',
 '36 Bed',
 '3 TV']

In [11]:
import re
re.sub(r'No |\d+', '', '').strip()

''

In [1]:
import pandas as pd

data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
index_labels = ['row1', 'row2', 'row3', 'row4', 'row5']
df = pd.DataFrame(data, index=index_labels)

# Using iloc to select data by integer positions
selection1 = df.iloc[0:3, 1]

# Using loc to select data by label-based indexing
selection2 = df.loc['row1':'row3', 'B']

print(selection1)
print(selection2)

row1    6
row2    7
row3    8
Name: B, dtype: int64
row1    6
row2    7
row3    8
Name: B, dtype: int64

In [2]:
df

      A   B
row1  1   6
row2  2   7
row3  3   8
row4  4   9
row5  5  10